@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323232;
  max-width: 100%;
  color: #fff;
  font-family: 'Inter';
  /* font-family: 'Solway', serif; */
}

.main--Body {
  height: 95.5vh;
  /* height: max-content; */

  /* border: 4px solid #9e3a3a; */
  background-color: #ffffff;

  margin: 11px 9px;
  border-radius: 13px;
  /* height: ; */
}


/* .body--Container{
    border: 2px solid #010000;

} */

body {
  background-color: #d9d9d9;

}


.search--Body {
  display: flex;
  /* align-items: center;*/
  justify-content: flex-start;
  padding: 20px;


}

.search-bar {
  display: flex;
  flex-direction: row;
  /* font-size: 360px; */
  /* color: #d13232; */
  /* background-color: #323232;
  color: #fff; */
}

.search--Body * {
  padding-right: 20px;
}

.btn-dropdown {
  background-color: #323232;
  color: #fff;
}

.btn-dropdown :hover {
  background-color: #323232;
  color: #fff;
}

.title {

  font-family: 'Inter';
  /* font-size: 36px; */
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.form1 {
  font-size: 36px;
  color: #d13232;
  margin-top: 2px;
  margin-bottom: 2px;
}

.h-divider {
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
  /* height: 1px; */
  width: 100%;
  /* border-top: 1px solid gray; */


  /* width: 1402px; */
  /* height: 0px; */

  border: 1px solid #D9D9D9;
  margin-bottom: 20px
}

.btn--searchbar {
  background-color: #323232;
  color: #fff;
}

.search--container {
  background-color: #d9d9d9;
  /* font: size 18px; */
  border-radius: 9px 0px 0px 9px;
  /* position: absolute; */
  /* width: 269px;
  height: 58px; */

  /* font-family: 'Inter'; */
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 16px;
  /* line-height: 44px; */
}

.btn--search {
  border-radius: 0px 9px 9px 0px;
}

.cards--container {
  margin-top: 85px;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* Create 2 equal-height rows */
  justify-content: space-evenly;
  justify-items: center;
  /* Center items horizontally */
  /* align-items: center; */

}

/* .each--card { */
/* margin-left: 0px; */
/* } */


.trial {
  display: flex;
  flex-direction: row;

}

/* .loader {
  animation: rotation 1.25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
} */



/* media queries */

@media (max-width :800px) {
  .cards--container {
    grid-template-columns: repeat(2, 1fr);

    justify-content: space-evenly;
    justify-items: center;
    margin-top: 85px;

  }
}

@media (max-width :500px) {
  .cards--container {
    grid-template-columns: 1fr;

    justify-content: space-evenly;
    justify-items: center;
    margin-top: 85px;

  }
}